name: Render PDF

on:
  workflow_dispatch:
  release:
    types: [push]

  push:
    branches: [main, gh_pages]

permissions:
  contents: write

jobs:
  render-paper:
    runs-on: ubuntu-latest
    steps:
      - uses: jim60105/action-install-google-fonts@v2
        with:
          fonts: 'Roboto'

      - name: Install FontAwesome
        run: |
          wget -O font.zip https://use.fontawesome.com/releases/v7.1.0/fontawesome-free-7.1.0-desktop.zip
          unzip -d /usr/share/fonts/fa font.zip
          fc-cache -fv

      - uses: actions/checkout@v4

      - uses: typst-community/setup-typst@v4
      - run: |
          typst \
            compile templates/main.typ resume/Resume.pdf \
            --input author=Mmesek \
            --input sections=../configs/sections.yml \
            --input meta=../meta/main.yaml \
            --input contact=../meta/contact.yaml \
            --root=..

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: resume
          folder: resume
